<!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                      <p>I am well versed in HTML, CSS, Javascript, image formats, Mockups, GitHub and Slack. Always motivated and currently trying to take my skills to the next level by learning JQuery & Sass. Eventually I plan to learn more about preprocessors such as SaSS, Bourbon, Neat & master email templates and formatting too! </p>
                <div class="col-lg-4">
                    <p>I consider myself a dedicated student looking to showcase my work and attract professional clients for freelancing. Eventually, I hope to land a solid position at a great company where I can put all my talents to proper use while mastering even more skills!</p>
                </div>
            </div>
        </div>
    </section>
